
*
{
    font-family: 'Courier New', Courier, monospace;
}

body
{
    background-image: url('../img/tic_tac_toe_background.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100vw 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.header
{
    color: #33ee22;
    background-color: transparent;
}

select, button, span.message
{
    color:#33ee22;
    background-color: black;
}

select, button
{
    border: 2px solid;
    outline: #33ee22;
    border-color: #33ee22;
}

select:hover, button:hover
{
    color:black;
    background-color: #33ee22;
}

#draw
{
    /* display: inline-block; */
    display: none;
    position: fixed;
    color: #b9b7ce;
    font-size: 5vh;
    text-shadow: 0 0 3vh #ffffff;
    font-weight: 700;
    left: 26.5vw;
    top:  11vh;
    width: 46vw;
    height: 64vh;
    background-color: #181920;
    box-shadow: inset 0 0 15vw #23274a, inset 0 0 15vw #23274a;
    z-index: 1;
}

.square
{
    display: inline-block;
    position: fixed;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    color: #b9b7ce;
    font-size: 20vh;
    /*background-color: #77777755;*/ /* uncomment to reposition */
    font-weight: 1000;
    width: 8vw;
    height: 15vh;
    text-shadow: 0 0 3vh #ffffffcc, 0 0 8vh #b9b7ce66;
    cursor: pointer;
}

.fa
{
    width: 100%;
    height: 100%;
}

.square .fa-times
{
    font-weight: 400;
    /*font-size: 24vh;*/ /* maybe replace font awesome icons with SVG */
}

#sq_0
{
    left: 33vw;
    top:  12vh;
}

#sq_1
{
    left: 45vw;
    top:  12vh;
}

#sq_2
{
    left: 57vw;
    top:  12vh;
}


#sq_3
{
    left: 33vw;
    top:  33vh;
}

#sq_4
{
    left: 45vw;
    top:  33vh;
}

#sq_5
{
    left: 57vw;
    top:  33vh;
}


#sq_6
{
    left: 33vw;
    top:  54vh;
}

#sq_7
{
    left: 45vw;
    top:  54vh;
}

#sq_8
{
    left: 57vw;
    top:  54vh;
}



